body,
html {
  width: 100%;
  height: 100vh;
  padding: 0px;
  overflow: auto;
  background-color: #d8e3ec;
}

#root {
  background-color: #d8e3ec;
  width: 100%;
}
.button-div {
  position: absolute;
  right: 25%;
  top: 25%;
}

.loginLink {
  color: #14829f;
}

.donateContainer {
  height: 100vh;
}

.signUpContainer {
  height: 100vh;
}

#loginCard,
#signUpCard {
  border-left: 6px solid #14829f;
  border-bottom: 6px solid #14829f;
  border-right: 6px solid #14829f;
  box-shadow: -4px 9px 9px #333333;
}
