body,
html {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: auto;

  background-color: #d8e3ec;
}

#root {
  background-color: #d8e3ec;
  width: 100%;
}
.button-div {
  position: absolute;
  right: 25%;
  top: 25%;
}

.loginLink {
  color: #14829f;
}

.donateContainer {
  height: 100vh;
}

.signUpContainer {
  height: 100vh;
}

.create {
  text-align: right;
  font-weight: bolder;
  font-size: 12px;
}

.msg {
  text-align: left;
  
}

.card-title {
  font-size: 36px;
  text-align: center;
}

.bg {
  background-color: #D8E3EC;
  padding: 15px;
  border-radius: 2px;
}