.btn-dark {
  background-color: #1a262b;
  border: none;
  color: white;
  border-radius: 0 !important;
  font-family: "PT Sans Narrow", sans-serif;
  width: 100px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
