.textBox{
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    position: relative;
    color: white;
    text-align: center;
  }

  
.message {
    display: flex;
    align-items: center;
  }
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    align-self: flex-end;
  }

  .received p {
    color: black;
  }