.circle {
  height: 26vw;
  width: 26vw;
  border-radius: 50%;
  background-color: #e66912;
  box-shadow: -4px 12px 12px #333333;
  position: absolute;
  left: -9%;
  margin-top: 3vw;
  z-index: 3;
  animation-delay: 0.8s;
}
