.media-card{
    line-height: 0px;
    padding: 0px;
    text-align: center;
}

.media-position{
    padding-left: 2rem;
}

@media screen and (max-width: 1000px) {
    .media-position
    {
        flex: auto;
    }
    .media-card{
        flex: auto;
    }

    
}