.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  min-height: 0px;
}

@media only screen and (min-width: 1024px) {
}
